/***********************************
* Author: James Holden
* Created: 3/25/2020
* Covidiversity is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
***********************************/

BODY {
    font-family: sans-serif;
    font-size: 24px;
}

.footer {
    font-size: 14px;
}

A {}

A:Hover {}

.paper {
    font-family: sans-serif; 
    font-size: large; 
}

div.paper table {
    width:1200px; 
    border:solid;
}

.css-input {
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
    border-style: inset;
    border-color: #e3e3e3;
    border-width: 0px;
    box-shadow: 1px 1px 5px 0px rgba(42, 42, 42, .50);
}

.css-input:focus {
    outline: none;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label-chk {
    padding-left: 55px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 50px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label-chk {
    background-position: 0 -50px;
}

label.css-label-chk {
    background-image: url(img/csscheckbox_e0446eb8ecbe9ca1cca1aacf581883cb.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=radio].css-checkbox+label.css-label-rdo {
    padding-left: 55px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 50px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=radio].css-checkbox:checked+label.css-label-rdo {
    background-position: 0 -50px;
}

label.css-label-rdo {
    background-image: url(img/csscheckbox_80a3e90935ad4f84b08e34dbdf1db280.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.criteria,
div {
    padding: 12px;
    margin: 6px, 6px, 6px, 6px;
}